<ion-header no-border>
  <ion-toolbar>
    <ion-title>Resources</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>


  <ion-card class="ion-padding card1">
    <ion-card-content>
      <ion-icon name="water"></ion-icon>
      Wash room

    </ion-card-content>
  </ion-card>
  <ion-card class="ion-padding card1">
    <ion-card-content>
      <ion-icon name="pizza"></ion-icon>
      Kitchen

    </ion-card-content>
  </ion-card>

  <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
          <ion-card class="ion-padding card2">
              <ion-card-content>
                <ion-icon name="shirt"></ion-icon>
                Washing Machine 1
          
              </ion-card-content>
            </ion-card>
            <ion-card class="ion-padding card2">
                <ion-card-content>
                  <ion-icon name="shirt"></ion-icon>
                  Washing Machine 2
            
                </ion-card-content>
              </ion-card>
      </ion-slide>
      <ion-slide>
          <ion-card class="ion-padding card2">
              <ion-card-content>
                <ion-icon name="shirt"></ion-icon>
                Washing Machine 3
          
              </ion-card-content>
            </ion-card>
      </ion-slide>
    </ion-slides>

</ion-content>