<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Bodima
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card class="ion-padding card1" >
    <ion-card-content>

      <h2>
        Welcome to Bodima,
      </h2>

      <p>
      Please enter your name to continue.
      </p>  
      <br>

      <ion-input placeholder="Ex: Ran Banda" [(ngModel)]="name" name="name"></ion-input>

      <ion-button shape="round" expand="block" (click)="addName()" >Continue</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
